body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-banner {
  background-image: url('https://i.ibb.co/XJKmFs4/Majestic-AF-Lion-Man-Holding-a-Poster-Mockup.jpg');
  width: fit;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 50px;
  /* filter: blur(1px); */
  /* -webkit-filter: blur(8px); */
}

.home-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.3); /* Black w/opacity/see-through */
  color: rgb(251, 248, 248);
  font-weight: bold;
  /* border: 3px solid #f1f1f1; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 125px 100px 100px 100px;
  text-align: center;
  /* margin-top: 10px; */
}

.home-text h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 80px;
  font-weight: bold;
  color: #06d3ee;
  /* margin-top: 70px; */
  padding: 100 0 50 0;
}

.skills-card {
  margin-left: 50px;
  align-content: center;
  border-color: #06d3ee;
}

.skills-card h4 {
  font-family: 'Abril Fatface', cursive;
  font-weight: bold;
  font-size: 50px;
  color:#06d3ee;
  margin-bottom: 20px;
}

.skills-card Button {
  margin-top: 20px;
  border-color:#06d3ee;
}

#navbar {
  background-color: rgb(37, 42, 42);
  z-index: 2;
}

.collection {
  display: grid;
  grid-template-columns: auto auto;
  border: 0;
}

.art-collection {
  display: grid;
  grid-template-columns: auto auto auto;
  border: 0;
}

.art-collection-item {
  height: 75%;
  width: 75%;
}

.img-artwork {
  height: 200px;
  width: 100%;

}

.contact-container {
  height: 173px;
  background-color: #fafafa;
}

.contact-info h5{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}

.custom-contact h5{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}

.contact-row {
  padding: 30px 50px 50px 20px;
}

.education-row {
  margin: 0;
}

.middle-row {
  margin-top: 50px;
}